body{
    background-color: rgb(184, 221, 255);
    font-size: 50px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
}
.plusz{
    font-weight: bold;
}
.fajtak{
    font-weight: bold;
}
.pipa{
    height: 40px;
    width: 40px;
}

.fejlec{
    background-color: rgb(42, 132, 216);
}

.lista{
    height: 100px;
    width: 300px;
    font-size: 25pt;
}
.nyitvatartas{
     margin-left: auto;
     margin-right: auto;
}

.kep{
    margin-left: auto;
    margin-right: auto;
}